.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(167, 76, 251);
    border: 2px solid inline-block;
}

.Title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.input-container{
    display: flex;
    margin-bottom: 2rem;
}

.input{
    padding: 0.6rem;
    border: none;
    border-radius: 13px;
    margin-right: 0.5rem;
    font-size: 1rem;

}

.button{
    padding: 0.6rem;
    border: none;
    border-radius: 13px;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.container{
    width: 10rem;
    height: 10em;
    border-style:inset;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: thistle;
    
}

.weather-info{
    margin: 10px;
    font-size: 1rem;
}